/* LandingPage.css */

.background {
    background-image: url('../../images/hexagonBlock.jpg');
    background-size: cover;
    background-color: black;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 36rem;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}